  body { 
    background-color: rgb(128, 165, 142);
    font-family: sans-serif; 
    text-align: center; 
    padding-top: 20px; }

  #startCameraButton { 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; }
  #videoElement, #canvas {
            width: 400px;
            height: 300px;
            background-color: #eee;
            border: 1px solid black;
            margin-top: 20px;
            display: none; /* Hidden until camera starts */
            margin: 0 auto;}
  #cameraicon {
    display: none;
    margin: 0 auto;
  }

  #imagePreview {
    margin: 0 auto;
  }

  #scanButton {
    margin: 0 auto;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
  }

  #ingredient-table, th, td {
     border: 1px solid #ccc; 
     border-collapse: collapse; 
     padding: 8px; 
     margin: 0 auto;
  }
  .caution { 
    background-color: #ffe0b2; 
  } /* Light orange for caution */
  .allergen { 
    background-color: #f8bbd0; 
  } /* Light pink for allergen */

#statusMessage { color: blue; margin-top: 10px; }
.error { color: red; }